#updateDelete {
    //background-color: white;
    padding-left: 30px;
}

#table {
  border: 2px solid black;
  //margin: 0px;
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  background-color: orchid;
}

.cell {
  border: 2px solid black;
  width: 50px;
  //margin: 0px;
}

.cell-big {
  border: 2px solid black;
  width: 500px;
  //margin: 0px;
}

.cell-action {
  border: 2px solid black;
  width: 115px;
  //margin: 0px;
}
