<div id="updateDelete">
  <h2>Calendar Reminders</h2>
  <table id="table">
    <thead>
    <th class="cell">Month</th>
    <th class="cell">Day</th>
    <th class="cell">Description</th>
    <th class="cell">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let reminder of reminders">
        <td class="cell">{{reminder.remMonth}}</td>
        <td class="cell">{{reminder.remDay}}</td>
        <td class="cell">{{reminder.description}}</td>
        <td class="cell">
          <button (click)="updateReminder(reminder.remNum)">Update</button>
          <button (click)="deleteReminder(reminder.remNum)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
