<div class="months_display">
  <p id="monthTitle">Months</p>
  <hr id="lineClass"/>
  <ol id="months">
    <li class="aMonth" (click)="passOnDays(31, 1, 'January')" routerLink="/january">January</li>
    <li class="aMonth" (click)="passOnDays(28, 2, 'February')" routerLink="/february">February</li>
    <li class="aMonth" (click)="passOnDays(31, 3, 'March')" routerLink="/march">March</li>
    <li class="aMonth" (click)="passOnDays(30, 4, 'April')" routerLink="/april">April</li>
    <li class="aMonth" (click)="passOnDays(31, 5, 'May')" routerLink="/may">May</li>
    <li class="aMonth" (click)="passOnDays(30, 6, 'June')" routerLink="/june">June</li>
    <li class="aMonth" (click)="passOnDays(31, 7, 'July')" routerLink="/july">July</li>
    <li class="aMonth" (click)="passOnDays(31, 8, 'August')" routerLink="/august">August</li>
    <li class="aMonth" (click)="passOnDays(30, 9, 'September')" routerLink="/september">September</li>
    <li class="aMonth" (click)="passOnDays(31, 10, 'October')" routerLink="/october">October</li>
    <li class="aMonth" (click)="passOnDays(30, 11, 'November')" routerLink="/november">November</li>
    <li class="aMonth" (click)="passOnDays(31, 12, 'December')" routerLink="/december">December</li>
  </ol>
</div>
